<h1>Lista de Pacientes</h1>
<a href="{% url 'pacientes:agregar' %}">Agregar Paciente</a>
<ul>
    {% for paciente in pacientes %}
        <li>
            {{ paciente.nombre }} {{ paciente.apellido }}
            | <a href="{% url 'pacientes:modificar' paciente.id %}">Editar</a>
            | <a href="{% url 'pacientes:ficha' paciente.id %}">Ficha</a>
            | <a href="{% url 'pacientes:odontograma' paciente.id %}">Odontograma</a>
        </li>
    {% empty %}
        <li>No hay pacientes registrados.</li>
    {% endfor %}
</ul>
