
{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
   <h1>Lista de Pacientes</h1>
    <a href="">Agregar Paciente</a>
    <table>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>DNI</th>
            <th>Acciones</th>
        </tr>
        {% for paciente in pacientes %}
        <tr>
            <td>{{ paciente.nombre }}</td>
            <td>{{ paciente.apellido }}</td>
            <td>{{ paciente.dni }}</td>
            <td>
                
            </td>
        </tr>
        {% empty %}
        <tr><td colspan="4">No hay pacientes</td></tr>
        {% endfor %}
    </table>
{% endblock %}

