{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Pacientes{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'paciente/paciente.css' %}">
</head>
<body>
    <header>
        <nav class="menu">
            <a href="{% url 'lista_pacientes' %}">Lista</a>
            <a href="{% url 'agregar_paciente' %}">Agregar</a>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
