{% extends 'base.html' %}
{% load static %}

{% block title %}Editar Turno{% endblock %}

{% block content %}
<div class="turnos-container">
    <div class="card shadow p-4">
        <h3 class="mb-4">Editar Turno</h3>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="mt-3">
                <button type="submit" class="btn btn-success">Guardar</button>
                <a href="{% url 'turnos:vista_turno' %}" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
