.container {
  padding: 20px;
  background-color: #f8f9fa;
  font-family: 'Segoe UI', sans-serif;
  color: #2e7d9d;
}

.headerBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2e7d9d;
  padding: 10px 20px;
  border-radius: 8px;
  color: rgb(255, 255, 255);
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
}

.dashboard {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  flex: 1;
  min-width: 250px;
}

.card h3 {
  border-bottom: 2px solid #2e7d9d;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.section {
  margin-top: 30px;
}

.movimientos {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
   justify-content: space-between;
}

.movimientos > div {
  flex: 1;
  min-width: 300px; /* asegura que no se peguen en pantallas chicas */
}
.movimientos li {
  background: #eef6f9;
  padding: 6px 10px;
  margin: 4px 0;
  border-radius: 6px;
}

.formSection {
  margin-top: 30px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.loading,
.error {
  text-align: center;
  margin-top: 50px;
  font-size: 1.2rem;
}

.abierta {
  color: #4caf50;
  font-weight: bold;
}

.cerrada {
  color: #d32f2f;
  font-weight: bold;
}

/* BOTONES */
.btn {
  border: none;
  border-radius: 6px;
  padding: 8px 15px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s ease;
}

.btn:hover {
  opacity: 0.9;
}

.btnGray {
  background-color: #9e9e9e;
  color: white;
}

.btnGreen {
  background-color: #4caf50;
  color: white;
}

.btnBlue {
  background-color: #1976d2;
  color: white;
}

.btnRed {
  background-color: #d32f2f;
  color: white;
}
