.diente {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}

.svg {
  width: 100%;
  height: 100%;
  display: block;
}

/* Responsive */
@media (max-width: 1400px) {
  .diente {
    width: 35px;
    height: 35px;
  }
}

@media (max-width: 768px) {
  .diente {
    width: 30px;
    height: 30px;
  }
}