{% extends "odontogramas/base.html" %}


{% block content %}
    <h1>
        ODONTOGRAMAS
            
    </h1>
    <table class="table">
        <tr>
            <th >ID Odontograma</th>
            <th >Nombre</th>
            <th >apellido</th>
            <th >Fecha de Creación</th>
            <th >Observaciones</th>
            <th >Cantidad de dientes</th>
            <th >Particular=1</th>
            <th >Acciones</th>
        </tr>
        {% for od in odontogramas %}
        <tr>
            <th>{{od.id_odontogramas}}</th>
            <td>{{od.id_paciente.nombre}}</td>
            <td>{{od.id_paciente.apellido}}</td>
            <td>{{od.fecha_creacion}}</td>
            <td>{{od.observaciones}}</td>
            <td>{{od.cant_dientes}}</td>
            <td>{{od.es_particular}}</td>
            <td>
                <a class="accion" href="{% url 'modificar' od.id_odontogramas %}">Modificar</a>
            </td>
                    
        </tr>
        {% endfor %}
               
    </table>
{% endblock %}

