{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Cajas{% endblock %}</title>
    <script>
        async function ajaxPost(url, data) {
            const res = await fetch(url, {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify(data)
            });
            const json = await res.json();
            alert(json.mensaje);
            if(res.ok) location.reload();
        }
    </script>
</head>
<body>
    <header>
        
        <nav class="menu" id="menu-caja">
            <ul>
                <li><a href="{% url 'caja:abrir_caja' %}" id="link-abrir-caja">Abrir Caja</a></li>
                <li><a href="{% url 'caja:cerrar_caja' %}" id="link-cerrar-caja">Cerrar Caja</a></li>
                <li><a href="{% url 'caja:cobrar_servicio' %}" id="link-cobrar-servicio">Cobrar Servicio</a></li>
                <li><a href="{% url 'caja:caja_home' %}" id="link-ver-cajas">Ver Cajas</a></li>
            </ul>
        </nav>
    </header>

    <main id="main-caja">
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
