{% extends 'caja/base_caja.html' %}
{% block title %}Cerrar Caja{% endblock %}
{% block content %}
<h1>Cerrar Caja</h1>
<div class="form-container">
    <input type="time" id="hora_cierre">
    <input type="number" id="monto_final" placeholder="Monto Final">
    <input type="text" id="responsable" placeholder="Responsable">
    <button onclick="cerrarCaja()">Cerrar Caja</button>
</div>

<script>
    function cerrarCaja() {
        const hora_cierre = document.getElementById('hora_cierre').value;
        const monto_final = document.getElementById('monto_final').value;
        const responsable = document.getElementById('responsable').value;
        ajaxPost("{% url 'cerrar_caja_ajax' %}", {hora_cierre, monto_final, responsable});
    }
</script>
{% endblock %}
