{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar turnos</title>
    <link rel="stylesheet" href="{% static 'miestilo.css' %}">
</head>
<body>
    <nav class="navegador">
        <a href="http://127.0.0.1:8000/">Inicio</a>
        <a href="/odontogramas/">Odontogramas</a>
        <a href="/app_3/listar_turnos/">Turnos</a>
    </nav>
 
    <h1>Listar turnos</h1>
    <div style="text-align: center;">
        <h2><a class="accion" href="{% url 'registrar_turno' %}">Registrar turno</a></h2>
    </div>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Paciente</th>
                <th>Estado</th>
                <th>Acciones</th> <!-- Nueva columna para los botones -->
            </tr>
        </thead>
        <tbody>
            {% for turno in turnos %}
            <tr>
                <td>{{ turno.id_turnos }}</td>
                <td>{{ turno.fecha_turno }}</td>
                <td>{{ turno.hora_turno }}</td>
                <td>{{ turno.id_paciente }}</td>
                <td>{{ turno.estado_turno }}</td>
                <td>
                    <a class="accion" href="{% url 'editar_turno' turno.id_turnos %}">Editar</a> |
                    <a class="accion" href="{% url 'eliminar_turno' turno.id_turnos %}">Eliminar</a>
                </td>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>
